{% extends 'base.html' %}
{% load tags %}
{% block head %}
{% endblock head %}

{% block home %}
<a class = "menu" href = "{% url 'profiles:home' %}" > Home </a>
{% endblock home %}
{% block menu %}
	{% if request.student %}
		<div class= "menu">
				Name : {{ request.student.user.get_full_name}} <br/>
				{{  request.student.get_department_display }} <br/>
				Roll No: {{  request.student.rollNo }} <br/> 
				Major: {{ request.student.get_major_display}} <br/>
			{% if  request.student.minor %}
				Minor : {{ request.student.get_minor_display}} <br/>
			{% endif %}
			{% if  request.student.photograph %}
				<span style = "text-align: center; display: block;"> <img src="{{ request.student.photograph|as_image_uri:'jpeg' }}" class = "image" /> </span>
			{% endif %}
		</div>
			<a class = "menu" href = "{% url 'profiles:update_student' %}"> Update my information </a>
			<a class = "menu" href="{% url 'profiles:create_profile' %}"> Create a new Profile</a>
	{% endif %}
	{% block extra_menu %}
	{% endblock extra_menu %}
{% endblock menu %}

{% block content %}
{% endblock content %}
{% block style %}
{% endblock style %}
{% block script %}
{% endblock script %}