{% extends 'profiles.html' %}
{% load tags %}
{% block head %}
{% endblock head %}
{% block content %}
	{% for profile in profiles %}
	<div class = "content" >
		<div class = "contextMenu">
			<a href="{{profile.get_absolute_url}}"> View profile </a>
			<a href="{% url 'profiles:update_profile' profile.pk %}"> Update Profile</a>
		</div>
		{{ profile.student.user.get_full_name }} <br/>
		<img src = "{{ profile.student.photograph|as_image_uri:'jpeg' }}" style = "object-fit: contain; height: 200px;"/>
		<br/>
		{{ profile.student.get_department_display }} <br/>
		{% if profile.skills %}
		Skills <br/>
		{{ profile.skills|truncatechars:30}} <br/>
		{% endif %}
		{% if profile.experience %}
		Experience <br/>
		{{ profile.experience|truncatechars:30}} <br/>
		{% endif %}
		{% if profile.achievements %}
		Achievements <br/>
		{{ profile.achievements|truncatechars:30}} <br/>
		{% endif %}
		{% if profile.nonScholastics %}
		Non Scholastics <br/>
		{{ profile.nonScholastics|truncatechars:30}} <br/>
		{% endif %}
	</div>
	{% endfor %}
{% endblock content %}